body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
}
#hero {
    background-image: url('../images/josh-black.png');
    background-size: contain;
    background-position: center ;
    background-repeat: no-repeat;
    height: 25vh;
}
header h1 {
    text-align: center;
}

main h2 {
    text-align: center;
}
nav ul {
    display: flex;

}
nav ul li {
    list-style: none;

}
nav ul li a {
    text-decoration: none;
    font-size: 2em;
    color: #000;

}
/* #main-head {
    width: 40%;
    margin: auto;
} */
#pic-grid {
    display: flex;
    flex-direction: row;

}
#pic-grid img {
    max-width: 100%;
    width: 500px;
}
footer {
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
.mobile-card {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mobile-card img {
    transform: scale(1);
    transition: transform ease 1s;
}
.mobile-card img:hover {
    transform: scale(.8);
    transition: transform ease 1s;


}
.mobile-card p {
    /* display: none; */
    padding: 1em;
    background-color: antiquewhite;
}
@media screen and (max-width: 768px) {
    nav ul {
        justify-content: center;
        align-items: center;
    }
    #pic-grid {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.6em;
    }
    .mobile-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
    }
    .mobile-card p {
        display: flex;
        padding: 1em;
        background-color: antiquewhite;
    }
    footer {
        flex-direction: column;
    }
}