*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    
}

img {
    max-width: 100%;
    display: block;
}

h1,
h2,
h3,
p {
    margin: 0;
}

.container {
    width: 85%;
    max-width: 65em;
    margin: auto;
}

.btn {
    display: inline-block;
    text-decoration: none;
    padding: 1.25em;
    background: blue;
    color: white;
}

.hero {
    background-image: url('images-ok/okhedgies.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}